* {
    border: 1px solid #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: #F3F5FC;
}

.logo {
    position: relative;
    left: 2%;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #0A3871;
}

.texto-digitado {
    float: left;
    width: 40%;
    left: 10%;
    position: absolute;
    margin-top: 4%;
}
